body{
	font-family: Tillana, fantasy;
	background-color: black;
}
header{
	font-family: Amita, fantasy;
	background-color: wheat;
	padding: 10px;
	border: 9px black solid;
	display: flex;
	flex-direction: column;
}
h1{
	align-self: center;
	font-family:Amita, fantasy;
	font-size: 60px;
	margin: 0;
	padding: 0;
	color: darkred;
}
h2{
	margin: 0;
	padding: 0;
}
h3{
	margin: 0;
	padding: 0;
}
.nav{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	padding-bottom: 10px;
	margin: 0;
	font-size: 20px;
	min-width: 150px;
}
.nav li{
	min-width: 150px;
	border: 1px black solid;
	background-color: burlywood;
	padding: 0px;
	box-shadow: 10px 5px 5px tan;
}
.nav li:hover{
	background-color: sandybrown;
	box-shadow: 12px 7px 7px tan;
}
.nav li:active{
	background-color: sienna;
	box-shadow: 2px 1px 1px tan;
}
.afit{
	padding: 10px;
	display: flex;
}
.select{
		padding: 20px 20px;
		display: flex;
		align-self: center;
		color: saddlebrown;}

.indent{
	text-indent: 2em;
}


main{
	display: flex;
}

.localnav{
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	background-color: wheat;
	margin: 10px 10px 0px 10px;
	padding: 5px;
	min-width: 50px;
	height: 50vh;
}
.content{
	display: flex;
	flex-wrap: wrap;
}

.epblock{
	background-color: whitesmoke;
	display: flex;
	flex-direction: column;
	align-content: center;
	border: 1px red solid;
	min-width: 300px;
	max-width: 600px;
	width: 100%;
	margin: 10px;
	padding: 10px;
	font-size: 20px;
}

.unwritten{
	color: grey;
}
.profimg{
	width: 200px;
	height: 200px;
}

footer{
	display: flex;
	flex-direction: center;
	justify-content: center;
	align-content: center;
}