body{
	font-family: Tillana, fantasy;
	background-color: black;
}
header{
	font-family: Amita, fantasy;
	background-color: wheat;
	margin: 10px 10px 0px 10px;
	padding: 10px;
	border: 9px black solid;
}
h1{
	font-family:Amita, fantasy;
	font-size: 60px;
	margin: 0;
	padding: 0;
	color: darkred;
}
.indent{
	text-indent: 2em;
}
.nav{
	display: flex;
	justify-content: space-around;
	padding-bottom: 10px;
	margin: 0;
	font-size: 20px;
	min-width: 150px;
}
.nav li{
	min-width: 150px;
}

h2{
	margin: 0;
	padding: 0;
}
h3{
	margin: 0;
	padding: 0;
}
main{
	display: flex;
	margin: 0px 10px;
	padding: 0;
}

.localnav{
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	background-color: wheat;
	margin: 10px 10px 0px 10px;
	padding: 5px;
	min-width: 50px;
	height: 50vh;
}
.content{
	display: flex;
	flex-wrap: wrap;
}

.epblock{
	background-color: whitesmoke;
	display: flex;
	justify-content: center;
	align-content: center;
	border: 1px red solid;
	min-width: 600px;
	max-width: 800px;
	width: 100%;
	margin: 10px;
	padding: 0;
}

.eptext{
	font-size: 20px;
	max-width: 600px;
	margin: 10px;
	padding: 10px;
	min-width: 500px;
}

.unwritten{
	color: grey;
}
.profimg{
	width: 200px;
	height: 200px;
}

footer{
	display: flex;
	flex-direction: center;
	justify-content: center;
	align-content: center;
}